body{
    margin:0;
    padding:20px;
    font-family:Arial,sans-serif;
    background:#0B1F3A;
    color:#fff;
}

.container{
    max-width:500px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:5px;
}

p{
    text-align:center;
    color:#ccc;
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:6px;
    font-weight:bold;
}

select{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    margin-bottom:15px;
    font-size:16px;
}

.swap{
    text-align:center;
    margin:10px 0;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#00C853;
    color:#fff;
    font-size:17px;
    cursor:pointer;
    margin-bottom:15px;
}

button:hover{
    opacity:.9;
}

#status{
    text-align:center;
    margin-bottom:15px;
    color:#FFD54F;
}

textarea{
    width:100%;
    height:120px;
    border:none;
    border-radius:10px;
    padding:12px;
    font-size:16px;
    margin-bottom:15px;
    resize:none;
    box-sizing:border-box;
}

.buttons{
    display:flex;
    gap:10px;
}

.buttons button{
    flex:1;
}
